<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isource.query.demo.dao.UserDao">



    <select id="findList" parameterType="Map" resultType="com.isource.query.demo.entity.User">


        SELECT
        `id`, `account`, `name`, `password`, `email`,`status`
        FROM `rc_users`
        <where>
            ${whereSql}
            ${orderBySql}
            ${limitSql}
        </where>

    </select>

</mapper>